@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

div.champion-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: #1B2845;
    position: relative;

    div.champion {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px white solid;
        margin: 5px;
        background-color: #1B2845;
        padding: 5px;
        height: 225px;

        img {
            width: 40%;
            margin: 10px;
        }
        
        h3 {
            font-family: 'Quicksand', sans-serif;
            color: white;
            font-size: 22px;
        }

        button {
            margin-bottom: 10px;
        }

    }
}