@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

div.champion-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: #1B2845;
}

div.champion {
	border: 1px white solid;
    margin: 5px;
    background-color: #1B2845;

	img {
		width: 40%;
    }
    
    h3 {
        font-family: 'Quicksand', sans-serif;
        color: white;
    }
}