@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

div.display-champ {
    background-color: #1B2845;
    color: white;
    padding: 10px;
    
    .spell-desc {
        border: 1px white solid;
        margin: 8px;

        img {
            width: 20%;
            margin: 5px;
        }
    }

    img {
        margin: 0px;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;
        margin: 10px;
    }

    h3.champ-name {
        margin-top: 56px;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        margin: 8px;
    }

    p {
        padding: 5px;
        margin: 8px;
    }

    p.spell-name {
        font-size: 20px;
    }
    
}