@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

div.display-champ {
    background-color: #1B2845;
    color: white;
    padding: 10px;
    
    .spell-desc {
        border: 1px white solid;
        margin: 8px;

        img {
            width: 20%;
            margin: 5px;
        }
    }

    .lore {
        border: 1px white solid;
        margin: 8px;
    }

    canvas {
        padding: 5px;
    }

    img {
        margin: 0px;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;
        margin: 10px;
    }

    h3.champ-name {
        margin-top: 56px;
    }

    h4 {
        font-family: 'Quicksand', sans-serif;
        margin: 8px;
    }

    p {
        padding: 5px;
        margin: 8px;
    }

    p.spell-name {
        font-size: 20px;
    }

    .splash {
        padding: 8px;
    }
    
}

@media screen and (min-width:768px) {

    div.spells {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 8px;

        .spell-desc {
        width: 100%;
        margin: 0;
        padding: 15px;
        }

        .spell-desc:first-child {
            grid-column: 1/3;
            grid-row: 1/2;

            h4 {
                margin-bottom: 15px;
            }

            img {
                width: 10%;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    
}

@media screen and (min-width:1440px) {
    div.display-champ {
        h3 {
            font-size: 46px;
        }

        h4 {
            font-size: 36px;
        }

        p {
            font-size: 24px;
        }

        p.spell-name {
            font-size: 30px;
        }

        div.spells {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;

            .spell-desc:first-child {
                grid-column: 1/2;
                grid-row: 1/2;

                h4 {
                    margin-bottom: 8px;
                }

                img {
                    width: 20%;
                }
            }
        }
    }
}